aegnda2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- Tipos Complejos-->
    <xsd:complexType name="tipoContacto">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="telefono" type="xsd:integer" maxOccurs="2"/>
            <xsd:element name="correo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoAgenda">
        <xsd:sequence>
            <xsd:element name="contacto" type="tipoContacto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
<!--Elemento Raíz-->
    <xsd:element name="agenda" type="tipoAgenda"/>
</xsd:schema>